@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap");

:root {
  --background-color: #edede9;
  --primary-color: #2667ff;
  --text-color: #023047;
  --card-color: #ffffff;
  --accent-color: #87bfff;

  --legth-md-1: 1rem;
  --legth-md-125: 1.25rem;
  --legth-md-15: 1.5rem;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

.container {
  padding: 1rem;
  display: grid;
}

.row {
  display: flex;
  gap: 1rem;
  margin-bottom: var(--legth-md-1);
}

.card {
  flex-grow: 1;
  padding: 1rem;
  background-color: var(--card-color);
  border-radius: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header-icon {
  font-size: 1.25rem;
}

.card.has-extra-padding {
  padding: 2rem 1.5rem;
}

.card-icon {
  display: grid;
  place-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  color: var(--primary-color);
  font-size: 2rem;
  background: var(--accent-color);
}

.card-headline {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

.card-h2.has-bottom-margin {
  margin-bottom: 2rem;
}

.card-h3 {
  margin-bottom: var(--legth-md-1);
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 500;
}

.card-h3.no-bottom-margin {
  margin-bottom: 0;
}

.card-h4 {
  margin-bottom: 4px;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--primary-color);
}

.card-list {
  display: flex;
  gap: 1.75rem;
  width: 50%;
}

.card-list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-list-badge {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: var(--accent-color);
}

/* Customer engagement card styles */
.card-progress {
  padding: 1.5rem;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-progress-bar {
  position: relative;
  width: 8rem;
  margin: auto;
  height: 8rem;
  border-radius: 50%;
  background: conic-gradient(
    var(--primary-color) 0% 33%,
    var(--accent-color) 43% 100%
  );
}

.card-progress-bar::after {
  content: "";
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 78%;
  height: 78%;
  text-align: center;
  border-radius: inherit;
  background: var(--card-color);
}

/* Growth card styles */

.card-growth {
  width: 50%;
  text-align: center;
}
.card-growth-headline {
  display: flex;
  justify-content: space-evenly;
}

.card-barchart {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  gap: 1rem;
  height: 8rem;
  background: repeating-linear-gradient(
    var(--accent-color) 0% 0.5%,
    transparent 0.5% 20%
  );
}

.card-barchart > div {
  display: grid;
  place-items: end;
}

.card-barchart > div > div {
  width: 1.25rem;
}

/* Single bar chart */

.card-barchart.is-gauge-chart > div > div {
  width: 3rem;
}

/* Regions Card */
.card-regions {
  width: 25%;
  text-align: center;
}

.card-bar-primary {
  height: 40px;
  width: 10px;
  background: var(--primary-color);
}
.card-bar-default {
  height: 20px;
  width: 10px;
  background: var(--accent-color);
}

/* Avatar styles */

.avatar-list {
  list-style-type: none;
  padding: 0;
}

.avatar-list > li {
  display: flex;
  align-items: center;
  gap: var(--legth-md-125);
  margin-bottom: var(--legth-md-125);
}

.avatar {
  width: 3rem;
  height: 3rem;
}

.avatar-title,
.avatar-notes {
  display: block;
  line-height: 1;
}

.avatar-title {
  font-size: 1.5rem;
  margin-bottom: 3px;
}

.avatar-notes {
  color: var(--accent-color);
  font-size: 0.875rem;
}

/* Timeline styles */
.timeline {
  padding-top: 1.25rem;
}

.timeline-row {
  position: relative;
  display: flex;
  padding-bottom: 1rem;
}

.timeline-when {
  width: 3.5rem;
  min-width: 3.5rem;
  max-width: 3.5rem;
  font-size: 0.75rem;
}

.timeline-badge {
  width: 0.75rem;
  min-width: 0.75rem;
  max-width: 0.75rem;
  height: 0.75rem;
  margin: 1.5px 0.5rem 0;
  border-radius: 50%;
  border: 3px solid var(--accent-color);
  background: var(--card-color);
}

.timeline-row.primary .timeline-badge {
  border-color: var(--primary-color);
}

.timeline-badge::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 4.5rem;
  width: 2px;
  height: calc(100% - 22px);
  background: var(--accent-color);
}

.timeline-text {
  color: var(--text-color);
  font-size: 0.875rem;
}

/* Media Queries */

@media only screen and (min-width: 800px) {
  .container {
    width: 800px;
    margin: 0 auto;
  }
  .row {
    display: flex;
    gap: 1rem;
  }
  .card-headline {
    width: 25%;
  }
  .card-list {
    width: 50%;
  }
  .card-progress {
    width: 25%;
    order: 1;
  }
  .card-growth {
    width: 50%;
    order: 2;
  }

  .card-regions {
    width: 25%;
    order: 3;
  }
  .card-author,
  .card-activity {
    width: 50%;
  }
}
